/* UserList.css */
.user-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 6%;
  }
  
  .user-item {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-info {
    flex: 1;
  }
  
  .user-info h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
  }
  
  .user-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .user-delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .user-delete-button:hover {
    background-color: #ff1a1a;
  }
  
  @media (max-width: 768px) {
    .user-list {
        margin-top: 9%;
      }
    .user-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .user-delete-button {
      margin-top: 10px;
      align-self: stretch;
      text-align: center;
    }
  }
  @media (max-width:360px){
    .user-info {
        width: 80%;
      }
  }